
<%- include("partials/header") -%>

<!-- <div class="intro-area">
  <div class="container">
    <div class="hero">
      <h2><%=title%></h2>
      <p><%=content%></p>
    </div>
    <img class="eimage" src=<%=imgurl%> alt="">
  </div>
</div> -->

<section class="banner" id="home">
  <div class="textbx">
    <div class="etitle">
      <h2><span><%=title%></span></h2>
      <h3><%=content%></h3>
      <a href="https://forms.gle/wen2PZogvRZVdKpcA" target="_blank" rel="noreferrer noopener" class="btn regbtn">Register</a>
    </div>
  </div>
</section>

<section class="services" id="services">
  <div class="heading white">
      <h2>Events</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
  </div>
  <div class="content">
      <a href="/pc">
      <div class="servicebx">
          <img src="img/event1.png" alt="">
          <h2>Project Conversazione</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/pc" class="btn">View more</a>
      </div>
      </a>
      <a href="/pd">
      <div class="servicebx">
          <img src="img/event2.png" alt="">
          <h2>Panel Discussion</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/pd" class="btn">View more</a>
      </div>
         </a>
      <a href="/dt">
      <div class="servicebx">
          <img src="img/event3.png" alt="">
          <h2>Design Thinking</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/dt" class="btn">View more</a>
      </div>
       </a>
      <a href="/ctf">
      <div class="servicebx">
          <img src="img/event4.png" alt="">
          <h2>Capture the Flag</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/ctf" class="btn">View more</a>
      </div>
      </a>
      <a href="/cd">
      <div class="servicebx">
          <img src="img/event5.png" alt="">
          <h2>Code Debugging</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/cd" class="btn">View more</a>
      </div>
      </a>
      <a href="/mrms">
      <div class="servicebx">
          <img src="img/event6.png" alt="">
          <h2>Mr & Ms Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/mrms" class="btn">View more</a>
      </div>
      </a>
      <a href="/connexions">
          <div class="servicebx">
              <img src="img/event7.png" alt="">
              <h2>Connexions</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              <a href="/connexions" class="btn">View more</a>
          </div>
          </a>
          <a href="/mtwi">
      <div class="servicebx">
          <img src="img/event8.png" alt="">
          <h2>Minute to Win it</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/mtwi" class="btn">View more</a>
      </div>
      </a>
      <a href="/th">
      <div class="servicebx">
          <img src="img/event9.png" alt="">
          <h2>Treasure Hunt</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/th" class="btn">View more</a>
      </div>
      </a>
      <a href="/tgd">
      <div class="servicebx">
          <img src="img/event10.png" alt="">
          <h2>T-Shirt / Game Designing</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <a href="/tgd" class="btn">View more</a>
      </div>
      </a>
  </div>
</section>

<%- include("partials/footer") -%>
